@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		overflow-x: hidden;
		scroll-behavior: smooth;
		background-image: url('../../public/paper.png');
	}

	body.dark {
		background-color: #000910;
	}

	body.light {
		background-color: #eeeeee;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
