@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		overflow-x: hidden;
		scroll-behavior: smooth;
		background-color: #021526;
		background-image: url('../../public/paper.png');
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
