@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		overflow-x: hidden;
		scroll-behavior: smooth;
	}

	body.dark {
		background-image: linear-gradient(to right, #000910 0%, black 100%);
	}

	body.light {
		background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
	}
}
